# ignore everything
*

# don't ignore these files
!.bash_aliases
!.bash_profile
!.gitignore
!.vimrc
!iterm_chuck.json
!install.sh

!install/
!install/*

!.config/
!.config/nvim/
!.config/nvim/*

!bash
!bash/*

!vim
!vim/*
